* {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.regWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: 150px;
}

input {
    margin: 10px;
}

.button  {
    font-size: 16px;
    height: 40px;
    width: 150px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.29);
}

.inputfield {
    display: none;
}

.modalWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    position: absolute;
    background: white;
    border: 1px solid red;

}
